.navbar-section {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1vw;
  background-color: #6441a4;
  border: 2px #7d5abe solid;
  border-radius: 2px;
  padding: 1vw;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.link:hover {
  margin-bottom: 5px;
  margin-top: -5px;
  box-shadow: 7px 7px 7px gray;
}

#home-brand-button {
  background-color: #9bbe5a;
  border-color: #81a441;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}

#twitch {
  height: 3vw;
  width: 3vw;
  color: #6441a4;
  padding-right: 1vw;
}
