.navbar-section {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1vw;
  background-color: #404040;
  border: 2px #262626 solid;
  border-radius: 10px;
  padding: 1vw;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.link:hover {
  margin-bottom: 5px;
  margin-top: -5px;
  box-shadow: 7px 7px 7px #121212;
}

#home-brand-button {
  background-color: #d4af37 ;
  border-color: #e0c56e;
  color: black;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  padding-bottom: 1.25vw;
}

#twitch {
  height: 3vw;
  width: 3vw;
  color: white;
  padding-right: 1vw;
}
