#giveaway-section {
  width: 31%;
  height: 18vw;
  margin-left: 5%
}

#giveaway-section ul {
  width: 100%;
  height: 12vw;
  overflow-y: scroll hidden;
  overflow-x: hidden;
}

#humble-logo {
  height: 180px;
}

#humble-partner {
  width: 24%;
  margin-top: 7%;
}

#tips-and-winners {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
}

#tips-section {
  width: 40%;
  height: 18vw;
}
