.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6441A4;
  height: 25vw;
  width: 100vw;
  color: white;
}

#home-page {
  display: flex;
  flex-direction: column;
}
